/*=====================================(Header)=================================*/
.header {
  background-image: url("./assets/header-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}
.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 40%;
  background-image: url("./assets//glow.png");
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 2;
  width: 50%;
  height: 50%;
}
/*=====================================(Navbar)=================================*/
.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 10rem;
  position: relative;
  z-index: 9;
}
.navbar__mobile {
  display: flex;
  align-items: center;
}
.navbar__menu {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 2rem;
}
.navbar__menu .menu {
  display: flex;
  gap: 5rem;
}
.navbar__menu .menu li a {
  letter-spacing: 0.5rem;
}
.navbar__menu .top {
  display: flex;
  align-items: center;
  gap: 2rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}
.navbar__menu .top p {
  font-size: 1.4rem;
}
.navbar__toggle {
  display: none;
  font-size: 4rem;
  background-color: transparent;
  border: none;
  outline: none;
}
.navbar__toggle svg {
  color: var(--brown);
}

.logo img {
  width: 20rem;
}
@media (max-width: 900px) {
  .navbar__menu {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    flex-direction: column-reverse;
    align-items: center;
    width: 100%;
    background-color: white;
    padding: 4rem 0;
    border-radius: 5px;
    /* margin: 0 auto; */
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.3);
    max-width: 60rem;
  }
  .navbar__menu .menu {
    flex-direction: column;
    align-items: center;
  }
  .navbar__toggle {
    display: block;
  }
  .navbar__mobile {
    justify-content: space-between;
    width: 100%;
  }
  .logo img {
    width: 15rem;
  }
}
/*=====================================(Hero Section)=================================*/
.hero {
  height: calc(100% - 10rem);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 3;
  padding: 7rem 0;
}
.hero__content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.hero__image img {
  width: 90%;
}
.hero__image {
  display: flex;
  justify-content: flex-end;
}
.hero__text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
}
.hero__text p {
  font-family: "Bebas Neue", cursive;
  border: 2px dashed var(--brown);
  padding: 1rem;
}
.hero__text h1 {
  font-size: 8rem;
  letter-spacing: 0.5rem;
  text-shadow: 0px 6px 0px var(--shadow) /* shadow for first letter */,
    0px 6px 0px var(--shadow) /* shadow for second letter */,
    0px 6px 0px var(--shadow) /* shadow for third letter */,
    0px 6px 0px var(--shadow) /* shadow for fourth letter */,
    0px 6px 0px var(--shadow) /* shadow for fifth letter */,
    0px 6px 0px var(--shadow); /* shadow for sixth letter */
}
.hero__text h2 {
  font-size: 4.5rem;
  letter-spacing: 0.5rem;
  text-shadow: 0px 6px 0px var(--shadow) /* shadow for first letter */,
    0px 6px 0px var(--shadow) /* shadow for second letter */,
    0px 6px 0px var(--shadow) /* shadow for third letter */,
    0px 6px 0px var(--shadow) /* shadow for fourth letter */;
}
.hero__text h1,
.hero__text h2 {
  font-family: "Alfa Slab One", cursive;
}
@media (max-width: 900px) {
  .hero__content {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .hero__text {
    align-items: center;
    text-align: center;
    order: 2;
  }
  .hero__text h1 {
    font-size: 10rem;
  }
  .hero__image img {
    width: 80%;
    order: 1;
  }
  .hero__image {
    display: flex;
    justify-content: center;
  }
}
@media (max-width: 480px) {
  .hero__text h1 {
    font-size: 4rem;
  }
  .hero__text p {
    font-size: 1.6rem;
  }
  .hero__text h2 {
    font-size: 3rem;
  }
}
/*=====================================(About)=================================*/
.about {
  height: 50rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5rem 0;
  color: white;
  font-family: "Bebas Neue", cursive;
}
.about__content {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 2rem;
}
.about__one {
  border-radius: 10px;
  grid-column: 1/2;
  grid-row: 1/3;
  background-image: url("./assets/about__one.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  cursor: default;
  transition: 0.3s ease-in-out;
}
.about__one:hover {
  transform: scale(1.02);
}
.about__two {
  border-radius: 10px;
  grid-column: 2/3;
  grid-row: 1/2;
  grid-area: "about-two";
  background-image: url("./assets/about__two.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  cursor: default;
  transition: 0.3s ease-in-out;
}
.about__two:hover {
  transform: scale(1.02);
}
.about__three {
  border-radius: 10px;
  grid-column: 2/3;
  grid-row: 2/3;
  grid-area: "about-three";
  background-image: url("./assets/about__three.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  transition: 0.3s ease-in-out;
}
.about__three:hover {
  transform: scale(1.01);
}
.about span {
  display: block;
}
.about h2 {
  position: relative;
  left: 20px;
  top: 20px;
}
.try {
  font-size: 2rem;
  font-weight: 400;
}

@media (max-width: 768px) {
  .about__content {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
  .about__one {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .about__two {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .about__three {
    grid-column: 1/2;
    grid-row: 3/4;
  }
}
/*=====================================(Products)=================================*/
.product {
  padding: 4rem 0;
  text-align: center;
}
.product__top h2,
.product__block a {
  font-family: "Alfa Slab One", cursive;
}
.product__top h4 {
  font-weight: 400;
  background-color: var(--yellow);
  padding: 1rem 3rem;
}
.product__top {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  width: 70%;
  margin: 0 auto;
  margin-bottom: 5rem;
}
.product p {
  font-family: "Montserrat";
}
.product__blocks {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-end;
  row-gap: 8rem;
}
.product__block {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  width: 30%;
  min-width: 300px;
  position: relative;
  transition: 0.3s ease-in-out;
}
.product__block img {
  filter: drop-shadow(0px 20px 10px rgba(0, 0, 0, 0.3));
  margin-bottom: 3rem;
}
.product__block h3 {
  font-size: 3rem;
  font-weight: 400;
}
.product h2 {
  font-size: 5rem;
  font-weight: 400;
}
@media (max-width: 768px) {
  .product h2 {
    font-size: 2.5rem;
  }
}
/*=====================================(Navbar)=================================*/

/*=====================================(Navbar)=================================*/

/*=====================================(Navbar)=================================*/
